/* Container for form */


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgb(215, 208, 208);
  border-radius: 10px;
}

/* Card for styling the form */
.card {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

/* Form content grid */
.form-content {
  gap: 20px;
  display: flex;
  justify-content: center;
}

/* Grid container with column layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* Grid items for form fields */
.grid-item {
  display: flex;
  flex-direction: column;
}

/* Input fields styling */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: #00008b;
  background: #ffffff;
}

input,
textarea {
  width: 100%;
}

/* Labels styling */
label {
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
  font-size: 12px;
}

/* Error message styling */
.error {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
}

/* Submit button styling */
button {
  padding: 10px 15px;
  background: #ffffff;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid rgb(208, 156, 156);
  width: 200px;
}

button[type="submit"]:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgb(215, 208, 208);
}

.header-footer {
  background: rgb(173, 165, 165);
  color: white;
  height: 100px;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

button:hover {
  color: #ffffff;
  background: #e07878;
}

.content-frame {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}